Repository bats-core/bats-core, pull requests merged in 2021-08, with the labels that each got.

#367 run: add optional exit-status test
  docs/source/writing-tests.md
  lib/bats-core/test_functions.bash
  lib/bats-core/tracing.bash
  libexec/bats-core/bats-exec-test
  man/bats.7.ronn
  test/fixtures/run/failing.bats
  test/fixtures/run/invalid.bats
  test/run.bats
Labels: Component: Bash Code, Priority: Critical, Type: Enhancement, help wanted

#452 install.sh: consider multilib
  install.sh
  test/install.bats
  uninstall.sh
Labels: Type: Enhancement, Component: Packaging

#485 Add missing changelog entries and documentation
  .github/workflows/check_pr_label.sh
  .github/workflows/tests.yml
  docs/CHANGELOG.md
  docs/source/writing-tests.md
  lib/bats-core/test_functions.bash
  libexec/bats-core/bats-exec-test
  libexec/bats-core/bats-format-pretty
  man/bats.7.ronn
  shellcheck.sh
  test/bats.bats
  test/pretty-formatter.bats
  test/run.bats
Labels: no changelog
